<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/public/style.css">
</head>
<body>

    <h2>This is a test</h2>

<h2>Here is how you set up and push to heroku</h2>

<ul>

    <li>git ikjfne</li>
    <li>hello</li>
    <li>hola</li>
</ul>
    <script src="/public/main.js"></script>
</body>
</html>

